/* Colors */
/* Fonts */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  height: 100vh;
  text-align: center;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.header__logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-top: 10px;
}

.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  margin: 0;
}

.hamburger__box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger__inner {
  width: 100%;
  height: 3px;
  background-color: #9e9aa7;
  position: absolute;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: background-color .3s .1s ease-in-out;
  transition: background-color .3s .1s ease-in-out;
}

.hamburger__inner::before, .hamburger__inner::after {
  width: 100%;
  height: 3px;
  background-color: #9e9aa7;
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .1s .2s ease-in;
  transition: -webkit-transform .1s .2s ease-in;
  transition: transform .1s .2s ease-in;
  transition: transform .1s .2s ease-in, -webkit-transform .1s .2s ease-in;
}

.hamburger__inner::before {
  top: -10px;
}

.hamburger__inner::after {
  top: 10px;
}

.hamburger--active .hamburger__inner {
  background-color: transparent;
}

.hamburger--active .hamburger__inner::before {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.hamburger--active .hamburger__inner::after {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.navigation {
  background-color: #3b3054;
  border-radius: 5px;
  display: none;
  position: absolute;
  text-align: center;
  left: 1.1rem;
  top: 6rem;
  width: 91%;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(69, 70, 79, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(69, 70, 79, 0.3);
  font-size: 1.125rem;
}

.navigation__list {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

.navigation__item {
  margin: 1rem 0;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1px;
}

.navigation__link--highlight {
  background-color: #2acfcf;
  border-radius: 20px;
  padding: 10px 95px;
}

.navigation__item:nth-child(4) {
  border-top: 1px solid #bfbfbf;
  width: 80%;
  margin: 0 auto;
  padding-top: 1rem;
}

.navigation--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image__wrapper {
  background: url("../images/illustration-working.svg") center left no-repeat;
  width: 100%;
  height: 50vh;
  background-size: cover;
}

.main__wrapper {
  margin-bottom: 50px;
}

.main__paragraph {
  color: #bfbfbf;
  margin: 20px;
}

.main__button {
  background-color: #2acfcf;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 35px;
  border-radius: 20px;
  font-weight: 700;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: url("../images/bg-shorten-mobile.svg") right top -30px no-repeat #3b3054;
  margin: 0 20px;
  padding: 20px;
  border-radius: 5px;
}

.form__input {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
}

.form__input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.form__input:-ms-input-placeholder {
  color: #bfbfbf;
}

.form__input::-ms-input-placeholder {
  color: #bfbfbf;
}

.form__input::placeholder {
  color: #bfbfbf;
}

.form__button {
  background-color: #2acfcf;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 25px;
  border: 1px solid #2acfcf;
  border-radius: 5px;
  margin-top: 10px;
}

.features {
  background-color: rgba(158, 154, 167, 0.2);
  padding: 100px 0;
  top: -60px;
  position: relative;
  z-index: -1;
}

.features__card {
  margin-bottom: 80px;
}

.features__card--white {
  background-color: #ffffff;
  margin: 15px 15px 80px;
  padding: 45px 5px 5px;
  border-radius: 5px;
  position: relative;
}

.features__card--white:nth-child(3)::before, .features__card--white:nth-child(3)::after {
  width: 10px;
  background-color: #2acfcf;
  height: 50px;
  position: absolute;
}

.features__card--white:nth-child(3)::before {
  content: '';
  top: -30.5%;
  right: 50%;
}

.features__card--white:nth-child(3)::after {
  content: '';
  bottom: -19.5%;
  right: 50%;
}

.features__icon {
  background-color: #3b3054;
  padding: 25px;
  border-radius: 100%;
  position: absolute;
  top: -17%;
  right: 35%;
  width: 98px;
  height: 98px;
}

.features__desc {
  color: #bfbfbf;
  margin: 10px;
}

.cta {
  background: url("../images/bg-boost-mobile.svg") center left no-repeat #3b3054;
  background-size: cover;
  padding: 50px 15px 75px;
  position: relative;
  top: -60px;
}

.cta__title {
  color: #ffffff;
}

.cta__button {
  background-color: #2acfcf;
  color: #ffffff;
  font-weight: 700;
  padding: 10px 25px;
  border: 1px solid #2acfcf;
  border-radius: 20px;
  margin-top: 10px;
  text-decoration: none;
}

.footer {
  background-color: #232127;
  color: #ffffff;
  position: relative;
  top: -60px;
  background-size: 88%;
}

.footer__column:first-child {
  padding: 30px 0 0;
}

.footer__column:last-child {
  padding-bottom: 50px;
}

.footer__list {
  list-style-type: none;
  padding-left: 0;
}

.footer__title {
  font-size: 1rem;
}

.footer__link {
  color: #bfbfbf;
  font-size: 0.8rem;
  text-decoration: none;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  cursor: pointer;
  padding-left: 0;
}

.list__item {
  color: #bfbfbf;
  padding: 15px;
}

.copyright__paragraph {
  color: #bfbfbf;
  font-size: 0.8rem;
  font-weight: 300;
}

.copyright__link {
  color: #bfbfbf;
  text-decoration: none;
}

@media screen and (min-width: 425px) {
  .features__icon {
    top: -19%;
    right: 37%;
  }
  .features__card--white:nth-child(3)::before {
    top: -33.5%;
    right: 48%;
  }
  .features__card--white:nth-child(3)::after {
    bottom: -21%;
    right: 48.5%;
  }
}

@media screen and (min-width: 768px) {
  .features__icon {
    top: -25%;
    right: 43%;
  }
  .features__card--white:nth-child(3)::before {
    top: -43%;
    right: 49%;
  }
  .features__card--white:nth-child(3)::after {
    bottom: -27%;
    right: 49%;
  }
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    left: 0;
    top: 0;
  }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navigation__item {
    margin-right: 1.5rem;
  }
  .navigation__item:nth-child(4) {
    padding-top: 0;
    width: auto;
    border-top: 0;
    margin: 1rem 1rem auto 15rem;
  }
  .navigation__item:last-child {
    background-color: transparent;
    padding: 0;
  }
  .navigation__link {
    color: #bfbfbf;
    font-size: 0.8rem;
  }
  .navigation__link--highlight {
    color: #ffffff;
    padding: 5px 25px;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    text-align: left;
    margin: 0 20px;
  }
  .main__wrapper {
    background: url("../images/illustration-working.svg") top right no-repeat;
    background-size: contain;
    height: 40vh;
  }
  .main__paragraph {
    margin-left: 0;
  }
  .image__wrapper {
    display: none;
  }
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px;
    background: url(../images/bg-shorten-desktop.svg) right top -30px no-repeat #3b3054;
  }
  .form__input {
    width: 70%;
  }
  .form__button {
    width: 20%;
    margin: 0 1rem;
  }
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100%;
    padding-bottom: 20px;
  }
  .features__card {
    margin-bottom: 0;
  }
  .features__card:first-child {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    height: 50px;
  }
  .features__card--white {
    width: 27%;
    margin: 0 auto;
    height: 260px;
  }
  .features__card--white:nth-child(3) {
    top: 50px;
  }
  .features__card--white:last-child {
    top: 100px;
  }
  .features__card--white:nth-child(3)::before {
    top: 14%;
    left: -23%;
    height: 10px;
    width: 64px;
  }
  .features__card--white:nth-child(3)::after {
    top: 54%;
    right: -23%;
    height: 10px;
    width: 64px;
  }
  .features__title:first-child {
    font-size: 2rem;
  }
  .features__icon {
    top: -20%;
    left: 10%;
  }
  .cta {
    background: url(../images/bg-boost-desktop.svg) top no-repeat #3b3054;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: left;
  }
  .social {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=style.css.map */